
 *{
    padding: 0;
	margin: 0;
    font-family: 'Roboto', sans-serif;
 }


 li{
	list-style-type: none;
}


 a
 {
 	text-decoration: none;
 	color:black;
    width: 100%;
    height: 100%;	
 }


 a , img {
    box-sizing: border-box;
    width:100%;
 }





 /* ----------------------------animation page onload-----------------------------*/
#onLoadParent{
    overflow: hidden;
    position: absolute;
    height: calc(100%);
    width: 100%;
    opacity: 0;
}

#onload{
    position: absolute;
    height: calc(100%);
    width: 100%;
    left: 100%;
    background-color: rgb(255, 255, 255);
    z-index: 3;
    animation: rightCurtain 3s cubic-bezier(.92,1.57,.91,.58);
    
}

#onload img{
    animation: rightCurtainLogo 3s ;
}

@keyframes rightCurtain {
    0%{
        left : 0%;
    }
    50%{
        left : 0%;
    }
    100%{
        left : -100%;
    }
}

@keyframes rightCurtainLogo {
    10%{
        transform: translateX(-25%);
    }
    30%{
        transform: translateX(75%);
    }
    40%{
        transform: translateX(65%);
    }
    50%{
        transform: translateX(72%);
    }
    100%{
        transform: translateX(50%);
    }
}

/* ----------------------------animation page onload-----------------------------*/

/********************************** Header *****************************/

header{
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    padding: 0;
	margin: 0;

}

header > * {
    width: 100%;
}

h1 , #onload {
    display: flex;
    justify-content: center;
    padding-top: 25px;
    padding-bottom: 10px;
}

h1 {
    box-shadow: 0px 3px 7px rgb(0, 0, 0, 0.25);
    z-index: 2;
}

h1 img ,#onload img{
    align-self: center;
    max-width: 40%;
    z-index: 1;
}





#text_localisation{
    padding-block: 15px;
    display:flex ;
    justify-content: center;
    background-color:#ebebeb;
    color: #222222;
}

#text_localisation i{
    position: relative;
    right :75px;
}

#text_localisation p{
    position: absolute;
    font-weight: 700;
}




/******** NAV ********/ 

nav{
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-block: 30px;
    background: #f6f6f6;;
}

nav > *:not(button){  /* tout les enfants directs de nav qui ne sont pas des bouttons*/
    padding-inline: 30px;
    padding-block: 7px;
    text-align: center;
}

nav h3{
    font-size: 30px;

}

nav p{
    font-size: 19px;
    font-weight: 300;

}

#bouton_nav{
    font-size: 15px;
    width: fit-content;
    margin: 20px;
    padding: 15px;
    padding-inline: 29px;
    border-radius: 25px;
    color: white;
    border: none;
    box-shadow: 0px 5px 8px rgb(0, 0, 0, 0.15);
    background: linear-gradient(176deg, #FF79DA, #9356DC);}


/******************************** Toutes Sections ********************************/

section , footer {
    padding-inline:  20px;
    padding-block: 30px;
}



/***************************** Section Fonctionnement ****************************/

#liste_fonctionnement li {

    display: flex;
    margin-left: 10px;
    margin-block: 30px;
    padding-block: 28px;
    padding-inline: 25px;
    background: #f6f6f6;
    border-radius: 15px;
    box-shadow: 1px 9px 19px rgb(0 0 0 / 20%);
    align-items: center;


}

#liste_fonctionnement li p{
    position: relative;
    right: 37px;
    color: white;
    background-color: #9356DC;
    border-radius: 50%;
    padding-block: 4px;
    padding-inline: 8px;
    align-items: center;
}

.liste_fonctionnement__text_liste{
    display: flex;
    position: absolute;
}

.liste_fonctionnement__text_liste > *{
    padding-inline: 10px;
}

.liste_fonctionnement__text_liste h4{
    font-size: 19px;
}

.liste_fonctionnement__text_liste i::before{
    color: #575757;
    font-size: 20px;
}

#liste_fonctionnement li:nth-child(3) {
    background-color: #9256dc2d;
}

.liste_fonctionnement__text_liste__violet > i::before {
    color: #9356DC;
}


/***************************** Section Restaurant ***********************************/


#section_restaurant{
    background-color: #f6f6f6;
    padding-top: 55px;
}

#section_restaurant h2{
    padding-bottom: 20px;
}


.case_restaurant {
    border-radius: 15px;
    margin-block: 15px;
    overflow: hidden;
    box-shadow: 1px 9px 19px rgb(0 0 0 / 20%);
}

.case_restaurant a{
    box-sizing: border-box;

}

.case_restaurant img{
    object-fit: cover;
    height: 200px;

}

.case_restaurant__info_texte{
    display: flex;
    align-items: center;
    justify-content: space-between;

}

.case_restaurant__info_texte i{
    padding-inline: 10px;
    font-size: 25px;
}

.heart-icon::before{
    background: linear-gradient(to top, #ff79da, #9356dc);
    margin-right: 12px;
    -webkit-background-clip: text;
    background-clip: text;
    font-weight: 500;
    transition: color 500ms;
}

.heart-icon:hover::before{
    font-weight: 600;
    color: transparent;
}

.case_restaurant__info_texte__texte{
    padding: 5px ;
}

.case_restaurant__new{
    position: relative;
    
}

.tags_nouveau{
    font-weight: 500;
    position: absolute;
    color: #006b50 ;
    background-color: #99E2D0;
    width: fit-content;
    border-radius: 3px;
    padding-block: 6px;
    padding-inline: 15px;
    bottom: 205px;
    right: 15px;
}




/* ============================ FOOTER ===================================== */


footer {
    background-color: #222222;
    padding: 18px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

footer * {
    color: #ebebeb;
}

h5 {
    font-size: 20px;
    font-family: 'Shrikhand','Roboto' ,sans-serif;
    font-weight: 500;
}


#logo_footer {
    color: #ebebeb;
    height: 20px;
    margin-block: 10px;

}

#liste_footer li{
    margin-block: 10px;
    display: flex;
    align-items: center;
}

#liste_footer li i {
    padding-right: 3px;
    width: 32px;
}


@media screen and (min-width: 1000px) {
    body{
        max-width: 50%;
        margin: auto;
        border-radius: 20px;
        box-shadow: 0px 0px 15px rgb(0, 0, 0, 0.25);
    }

    h1{
        border-top-left-radius : 20px;
        border-top-right-radius : 20px;
    }
  }
